.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .ml15 {
    font-weight: 800;
    font-size: 5.8em;  
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
  }

  .ml7 {
    position: relative;
    font-weight: 900;
    font-size: 3.7em;
  }
  .ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  .ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }

  .scroll-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }

  .scroll {
    animation: RightToLeft 25s infinite linear;
    display: inline-block;
    animation-iteration-count: infinite;
  }

  @keyframes RightToLeft {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .text-container {
    display: flex;
    width: fit-content;
    flex: auto;
    flex-direction: row;
  }

  .text-part {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding:0 4px;
  }

  .text-part-opposite {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding:0 4px;
  }